<li><a href="/exchanger/" title="Accept Bitcoin" class="menu-item">Bitcoin Exchanger</a></li>
<li><a href="/ecommerce/" title="Wallet" class="menu-item">E-Commerce</a></li>
<li><a href="/payments/" title="Card" class="menu-item">Make Payments</a></li>
<li><a href="/school/" title="Blog" class="menu-item">Crypto-School</a></li>
<li><a href="/user/login/" title="Log In" class="menu-item">Log In</a></li>
<li><a href="/user/get-started/" title="Sign Up" class="menu-item sign-up-btn">Sign Up</a></li>