<!DOCTYPE html>
<html lang="en" ng-csp>

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Get Started with Bitcoin</title>
    <meta name="description" content="Start accepting bitcoin, store and spend bitcoin securely, or get the BitPay Card.">
    <meta name="msapplication-TileColor" content="#1D3E92">
    <meta name="theme-color" content="#1D3E92">
    <link rel="stylesheet" href="css/main.43ec7687.css" data-instant-track>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Heebo:300,400,500">
</head>

<body class="white-header">
    <div data-offcanvas class="off-canvas-wrap container">
        <div class="inner-wrap">
            <div class="bp-wrap">
                <div style="background-image: url('images/bg3.jpg')" class="bg-blue page__home__splash">
                    <div>
                        <div role="navigation" class="row">
                            <div class="column small-1">
                                <a href="/" class="bp-logo logo margin-top">
                                    <!-- logo gmoes in here -->
                                </a>
                            </div>
                            <% include partials/nav.ejs %>
                                <div class="column small-3 hide-for-large-up margin-top"><a href="javascript:;" class="right-off-canvas-toggle menu-icon right"><span></span></a></div>
                        </div>
                        <% include partials/nav-mobile.ejs %>
                    </div>
                    <div class="section">
                        <div class="row">
                            <div class="column large-offset-1">
                                <div class="page__home__mast">
                                    <h1 class="page__home__mast__heading">One stop site for everything bitcoin.</h1>
                                    <h2 class="page__home__mast__lead">Exchange bitoin, spend bitcoin securely, or convert bitcoin to your local currency.</h2><a href="/get-started" class="page__home__cta page__home__mast__cta">Start Now</a></div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="bg-gray">
                    <div class="row">
                        <div class="page__home__trust__logos">
                            <div style="background-image: url('/images/partners-logo/microsoft.bb8c0e5d.png'); width: 2.1em; height: 1.5em;" class="home-logo h2 unselectable"></div>
                            <div style="background-image: url('/images/partners-logo/neteller.787a3936.png'); width: 1.5em; height: 1.5em;" class="home-logo h2 unselectable"></div>
                            <div style="background-image: url('/images/partners-logo/virgin.e765e6ec.png'); width: 1.2em; height: 0.9em;" class="home-logo h2 unselectable"></div>
                            <div style="background-image: url('/images/partners-logo/shopify.93d80e54.png'); width: 1.5em; height: 1.5em;" class="home-logo h2 unselectable"></div>
                            <div style="background-image: url('/images/partners-logo/steam.7ff63b2e.png'); width: 2.5em; height: 1.5em;" class="home-logo h2 unselectable"></div>
                            <div style="background-image: url('/images/partners-logo/zynga.461bba82.png'); width: 1.5em; height: 1.5em;" class="home-logo h2 unselectable"></div>
                            <div style="background-image: url('/images/partners-logo/newegg.54a1e5b0.png'); width: 1.2em; height: 0.9em;" class="home-logo h2 unselectable"></div>
                        </div>
                    </div>
                </div>
                <div class="section page__home__gradient-down">
                    <div class="row">
                        <div class="column">
                            <h2 class="page__home__solution-heading">Think Cash, Think Bitcoin</h2>
                            <div class="row">
                                <div class="column large-4">
                                    <a href="/exchanger/">
                                        <div class="page__home__solution-card">
                                            <div class="page__home__solution-card__icon">
                                                <?xml version="1.0" encoding="UTF-8"?>
                                                <svg width="93px" height="93px" viewBox="0 0 93 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                                        <title>accept-icon</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="Callout" transform="translate(-417.000000, -146.000000)">
                                                                <g transform="translate(-3.000000, 52.000000)" id="Group-2">
                                                                    <g transform="translate(290.000000, 94.000000)">
                                                                        <g id="Rectangle-2-Copy">
                                                                            <g id="accept-icon" transform="translate(130.000000, 0.000000)">
                                                                                <circle id="Oval" fill="#F3F3F3" opacity="0.600000024" cx="46.5" cy="46.5" r="46.5"></circle>
                                                                                <g id="Group" transform="translate(27.000000, 29.000000)" stroke-width="2">
                                                                                    <polygon id="Shape" stroke="#647CE8" points="16 16 0 16 0 0 16 0 16 0"></polygon>
                                                                                    <polygon id="Shape" stroke="#647CE8" points="39 16 23 16 23 0 23 0 39 0"></polygon>
                                                                                    <polygon id="Shape" stroke="#6277D9" points="16 39 0 39 0 23 16 23 16 23"></polygon>
                                                                                    <polyline id="Shape" stroke="#6277D9" points="39 32 39 23 32 23 32 28.4 25 28.4 25 23"></polyline>
                                                                                    <polyline id="Shape" stroke="#6277D9" points="39 40 25 40 25 36"></polyline>
                                                                                    <polygon id="Shape" stroke="#6277D9" points="9 9 7 9 7 7 9 7"></polygon>
                                                                                    <polygon id="Shape" stroke="#6277D9" points="32 9 30 9 30 9 30 7 32 7"></polygon>
                                                                                    <polygon id="Shape" stroke="#6277D9" points="9 32 7 32 7 30 9 30"></polygon>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                            </div>
                                            <h3 class="page__home__solution-card__heading">Exchange bitcoin</h3>
                                            <p class="page__home__solution-card__description">Exchange bitcoin to your local currrency.</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="column large-4">
                                    <a href="/payments/">
                                        <div class="page__home__solution-card">
                                            <div class="page__home__solution-card__icon">
                                                <?xml version="1.0" encoding="UTF-8"?>
                                                <svg width="94px" height="93px" viewBox="0 0 94 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                                        <title>storebitcoin-icon</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="Callout" transform="translate(-805.000000, -146.000000)">
                                                                <g transform="translate(-3.000000, 52.000000)" id="Group-2">
                                                                    <g transform="translate(290.000000, 94.000000)">
                                                                        <g id="storebitcoin-icon" transform="translate(518.000000, 0.000000)">
                                                                            <circle id="Oval" fill="#F3F3F3" opacity="0.600000024" cx="47" cy="46.5" r="46.5"></circle>
                                                                            <g id="health-24px-outline_pulse-phone" transform="translate(27.000000, 17.000000)">
                                                                                <g id="tech-color_mobile-button">
                                                                                    <g id="Group">
                                                                                        <path d="M35.5333333,63 L5.46666667,63 C2.44770055,63 0,60.5471081 0,57.5217391 L0,5.47826087 C0,2.45289117 2.44770055,0 5.46666667,0 L35.5333333,0 C38.5522995,0 41,2.45289117 41,5.47826087 L41,57.5217391 C41,60.5471081 38.5522995,63 35.5333333,63 L35.5333333,63 Z" id="Shape" fill="#E6E6E6"></path>
                                                                                        <ellipse id="Oval" fill="#CCCCCC" cx="20.5" cy="56.1521739" rx="2.73333333" ry="2.73913043"></ellipse>
                                                                                        <path d="M5.46666667,49.3043478 C4.71185216,49.3043478 4.1,48.6469205 4.1,47.8358696 L4.1,6.71847826 C4.1,5.90744829 4.71185216,5.25 5.46666667,5.25 L35.5333333,5.25 C36.2881375,5.25 36.9,5.90744829 36.9,6.71847826 L36.9,47.8358696 C36.9,48.6469205 36.2881375,49.3043478 35.5333333,49.3043478 L5.46666667,49.3043478 Z" id="Shape" fill="#F7F7F7"></path>
                                                                                    </g>
                                                                                </g>
                                                                                <g id="Group-3" transform="translate(23.000000, 14.000000)">
                                                                                    <rect id="Rectangle-path" stroke="#12E5B6" fill="#13E5B6" x="7.10542736e-15" y="10" width="23" height="17" rx="7"></rect>
                                                                                    <path d="M5,10 L5,5 C5,2.25 7.7,0 11,0 L11,0 C14.3,0 17,2.25 17,5 L17,10" id="Shape" stroke="#12E5B6"></path>
                                                                                    <path d="M11,17 L11,21" id="Shape" stroke="#FFFFFF" fill="#F9F9F9"></path>
                                                                                </g>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                            </div>
                                            <h3 class="page__home__solution-card__heading">Make Payments</h3>
                                            <p class="page__home__solution-card__description">Pay utility bills with bitcoin</p>
                                        </div>
                                    </a>
                                </div>
                                <div class="column large-4">
                                    <a href="/ecommerce/">
                                        <div class="page__home__solution-card">
                                            <div class="page__home__solution-card__icon">
                                                <?xml version="1.0" encoding="UTF-8"?>
                                                <svg width="93px" height="93px" viewBox="0 0 93 93" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                        <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                                        <title>spendbitcoin-icon</title>
                                                        <desc>Created with Sketch.</desc>
                                                        <defs></defs>
                                                        <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                            <g id="Callout" transform="translate(-1194.000000, -146.000000)">
                                                                <g transform="translate(-3.000000, 52.000000)" id="Group-2">
                                                                    <g transform="translate(290.000000, 94.000000)">
                                                                        <g id="spendbitcoin-icon" transform="translate(907.000000, 0.000000)">
                                                                            <circle id="Oval" fill="#F3F3F3" opacity="0.600000024" cx="46.5" cy="46.5" r="46.5"></circle>
                                                                            <g id="bp-card-spend" transform="translate(26.000000, 24.000000)">
                                                                                <path d="M7.6875,43 C3.459375,43 0,39.5852941 0,35.4117647 L0,0 L41,0 L41,35.4117647 C41,39.5852941 37.540625,43 33.3125,43 L8.25,42.977416" id="Shape" fill="#E6E6E6"></path>
                                                                                <path d="M34,53.0092478 C34,54.6609946 32.6568766,56 30.9920699,56 L11.0079301,56 C9.34669617,56 8,54.6558914 8,53.0092478 L8,31 L34,31 L34,53.0092478 Z" id="Shape" fill="#4F6EF7" opacity="0.800000012"></path>
                                                                                <polygon id="Shape" fill="#FFFFFF" points="37 22 5 22 5 5 5 5 37 5"></polygon>
                                                                                <path d="M16,33 L16,52.5" id="Shape" stroke="#FFFFFF" fill="#F1F8FF" opacity="0.400000006"></path>
                                                                                <path d="M26,43 L26,48" id="Shape" stroke="#FFFFFF"></path>
                                                                            </g>
                                                                        </g>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </svg>
                                            </div>
                                            <h3 class="page__home__solution-card__heading">Shop online</h3>
                                            <p class="page__home__solution-card__description">Buy items from our ecommerce stores with bitcoins</p>
                                        </div>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="section page__home__gradient-up">
                    <div class="angle-block left"></div>
                    <div class="row">
                        <div class="column large-6"><img src="/images/home/1.jpg" class="page__home__primary__img-accept"></div>
                        <div class="column large-6">
                            <h2 class="page__home__primary-heading header--bottom-border-left">Exchange bitcoin to your local currency</h2>
                            <p class="page__home__primary-text">Make use of our bitcoin exchanging platform to meet peolpe who are willing to buy your bitcoin.</p>
                            <p class="page__home__primary-text">You can also purchase bitcoin from us or any of our authorised sellers.</p><a href="/exchanger/" class="page__home__primary-link">Learn more &rarr;</a></div>
                    </div>
                </div>
                <div class="section page__home__gradient-down">
                    <div class="row">
                        <div class="column large-6 large-push-6"><img src="/images/home/2.jpg" style="left:0" class="page__home__primary__img-wallet"></div>
                        <div class="column large-6 large-pull-6">
                            <h2 class="page__home__primary-heading header--bottom-border-left">Shop online and pay with bitcoins</h2>
                            <p class="page__home__primary-text">You can now order for goods online and pay with bitcoins.</p>
                            <p class="page__home__primary-text">You can also become a verified seller with ease.</p>
                            <p style="left: -10px;position: relative;"><span style="background-image: url('/images/platforms/icon-appstore.e74f5083.svg');" title="iOS" class="small-icon background-contain"></span><span style="background-image: url('/images/platforms/icon-playstore.0b54bd21.svg');"
                                    title="Android" class="small-icon background-contain"></span><span style="background-image: url('/images/platforms/icon-winstore.35fcfc72.svg');" title="Windows Phone" class="small-icon background-contain"></span>
                                <span style="background-image: url('/images/platforms/icon-apple.ca4b8334.svg');" title="Mac OS X" class="small-icon background-contain"></span><span style="background-image: url('/images/platforms/icon-microsoft.63625e5a.svg');"
                                    title="Windows" class="small-icon background-contain"></span><span style="background-image: url('/images/platforms/icon-linux.17910041.svg');" title="Linux" class="small-icon background-contain"></span></p>
                            <a href="/ecommerce/" class="page__home__primary-link">Learn more &rarr;</a></div>
                    </div>
                </div>
                <div class="section page__home__gradient-up">
                    <div class="row">
                        <div class="column large-6"><img src="/images/home/3.png" class="page__home__primary__img-card"></div>
                        <div class="column large-6">
                            <h2 class="page__home__primary-heading header--bottom-border-left">Pay utility bills with bitcoins</h2>
                            <p class="page__home__primary-text">You can now pay your DStv bills, PHCN bills, book ticket with your bitcoins.</p>
                            <p class="page__home__primary-text"></p><a href="/payments/" class="page__home__primary-link">Learn more &rarr;</a></div>
                    </div>
                </div>
                <div class="section page__home__gradient-down">
                    <div class="row">
                        <div class="column large-6 large-offset-3">
                            <div class="page__home__cta-card">
                                <div class="page__home__cta-card__icon">
                                    <?xml version="1.0" encoding="UTF-8"?>
                                    <svg width="109px" height="106px" viewBox="0 0 109 106" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                            <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                            <title>bitcoin-callout-ico</title>
                                            <desc>Created with Sketch.</desc>
                                            <defs>
                                                <path d="M31.4133979,78.9569362 C9.26292503,73.6093081 -4.25749349,51.8845689 1.26574131,30.438352 C6.78897611,8.99213503 29.2271175,-4.09841296 51.3775904,1.24921516 C73.585597,6.54113881 87.1060155,28.3215825 81.5827807,49.7677994 C76.0595459,71.2140163 53.6214045,84.3045643 31.4133979,78.9569362 Z" id="path-1"></path>
                                                <filter x="-50%" y="-50%" width="200%" height="200%" filterUnits="objectBoundingBox" id="filter-2">
                                                    <feOffset dx="0" dy="9" in="SourceAlpha" result="shadowOffsetOuter1"></feOffset>
                                                    <feGaussianBlur stdDeviation="6.5" in="shadowOffsetOuter1" result="shadowBlurOuter1"></feGaussianBlur>
                                                    <feColorMatrix values="0 0 0 0 0   0 0 0 0 0   0 0 0 0 0  0 0 0 0.100288723 0" type="matrix" in="shadowBlurOuter1"></feColorMatrix>
                                                </filter>
                                            </defs>
                                            <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                <g id="Get-Started-Callout" transform="translate(-197.000000, -23.000000)">
                                                    <g id="bitcoin-callout-ico" transform="translate(210.000000, 27.000000)">
                                                        <g id="Imported-Layers">
                                                            <g id="Fill-1-Copy">
                                                                <use fill="black" fill-opacity="1" filter="url(#filter-2)" xlink:href="#path-1"></use>
                                                                <use fill="#EF9B35" fill-rule="evenodd" xlink:href="#path-1"></use>
                                                            </g>
                                                        </g>
                                                        <path d="M52.7386013,42.0296155 C54.0638136,41.0714576 55.0730502,39.6761281 55.4683299,37.9639834 C56.7126001,32.574457 54.1844126,28.5847056 48.7264964,27.3246464 L48.7299894,27.3254528 L50.2196206,20.8572147 C50.2746174,20.6189977 50.2463168,20.6987512 50.3115166,20.41634 L47.2627292,19.7204195 C47.0273838,19.6660857 46.8418101,19.6152951 46.8418101,19.6152951 L45.2369231,26.5190149 L41.7438567,25.712577 L43.2334879,19.2443389 C43.2884846,19.0061219 43.2749198,19.0608934 43.3338982,18.8054299 L39.8451982,18 C39.7565066,18.3841654 39.81024,18.19425 39.7477967,18.4218921 L38.2507904,24.9061391 L30.3743465,23.0818149 C30.3743465,23.0818149 30.3418441,23.2843523 30.2860544,23.5210239 L29.5768191,26.5362857 L30.4636213,26.7410201 C32.3926672,27.1863755 33.6001296,29.0918807 33.1603547,30.9967549 L29.979826,44.7950513 C29.5635927,46.5979557 29.1839327,48.1518045 26.8916079,47.6225796 C26.7056021,47.5796368 25.4132717,47.2887722 24.8174855,47.1512241 L24.1336346,50.1133078 C24.0899765,50.2864753 24,50.6921429 24,50.6921429 C24,50.6921429 24.4426149,50.782975 24.577098,50.8140229 L31.8802264,52.500083 L30.2840675,59.3978703 L33.7771339,60.2043082 L33.8766755,59.7731461 L35.3732928,53.3065209 L38.8663592,54.1129588 L37.2739695,61.058166 L40.2954719,61.7557348 L40.743676,61.8592108 L42.3594255,54.9193967 L44.1024656,55.3218092 C49.5603818,56.5818685 53.5816937,54.1041882 54.8259639,48.7146618 C55.4088298,46.1899921 54.5157522,43.6976525 52.7386013,42.0296155 L52.7386013,42.0296155 Z M40.5852782,30.8758251 L45.8248777,32.085482 C47.7539236,32.5308373 48.961386,34.4363426 48.5216112,36.3412168 C48.0818363,38.246091 46.1612578,39.4294311 44.2322119,38.9840757 L38.9926123,37.7744189 L40.5852782,30.8758251 L40.5852782,30.8758251 Z M43.5113472,49.7285598 L36.5252144,48.1156839 L38.1178803,41.2170902 L45.104013,42.829966 C47.0330589,43.2753213 48.2405213,45.1808266 47.8007464,47.0857008 C47.3609716,48.990575 45.4403931,50.1739151 43.5113472,49.7285598 L43.5113472,49.7285598 Z" id="Imported-Layers" fill="#FFFFFF"></path>
                                                    </g>
                                                </g>
                                            </g>
                                        </svg>
                                </div>
                                <h3 class="page__home__cta-card__heading">Get started with bitcoin.</h3><a href="/user/get-started/" class="page__home__cta">Start Now</a></div>
                        </div>
                    </div>
                </div>
                <div class="footer__container">
                    <div class="row">
                        <div class="column medium-4">
                            <a href="/" class="footer__logo">

                            </a>
                            <ul class="inline-list footer__social">
                                <li>
                                    <a href="https://www.twitter.com/" rel="noopener noreferrer" target="blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="22px" height="18px" viewBox="0 0 22 18" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                                <title>twitter-ico</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Footer-1" transform="translate(-1453.000000, -379.000000)" fill="#69ACE0">
                                                        <g id="Footer">
                                                            <g id="Group-14" transform="translate(1409.000000, 377.000000)">
                                                                <g id="twitter-ico" transform="translate(44.000000, 2.000000)">
                                                                    <path d="M22,2.3010345 C21.1905696,2.6534835 20.3207171,2.8917405 19.4076346,2.998836 C20.3395729,2.4504075 21.0552512,1.5819345 21.3922225,0.54711 C20.5201608,1.0549575 19.5541958,1.4237595 18.5260625,1.62252 C17.7027308,0.76122 16.5296817,0.223056 15.2315396,0.223056 C12.7387333,0.223056 10.7178408,2.2072095 10.7178408,4.654458 C10.7178408,5.0018175 10.7577617,5.339988 10.8346929,5.664357 C7.08350958,5.4795645 3.75770542,3.7153125 1.53154375,1.0342035 C1.14302375,1.688724 0.920470833,2.449944 0.920470833,3.2620905 C0.920470833,4.799511 1.71732,6.155919 2.92839708,6.9506325 C2.18852333,6.927642 1.49256708,6.728265 0.88400125,6.396336 C0.883685,6.4148535 0.88361625,6.4333755 0.88361625,6.452046 C0.88361625,8.599194 2.43943792,10.390302 4.50426625,10.797381 C4.12549042,10.898604 3.726745,10.952775 3.31512042,10.952775 C3.02427125,10.952775 2.74152083,10.9249965 2.46592042,10.8733005 C3.04029917,12.6338535 4.707175,13.9151115 6.68226167,13.9509135 C5.13751333,15.1394355 3.1913475,15.847884 1.07669833,15.847884 C0.71237375,15.8478795 0.353081667,15.826896 0,15.786 C1.99748083,17.043336 4.36996542,17.7769395 6.91887625,17.7769395 C15.2210071,17.7769395 19.7608721,11.02437 19.7608721,5.1683175 C19.7608721,4.9761945 19.7564767,4.7850795 19.7478279,4.5950445 C20.6296337,3.970233 21.3948992,3.189717 22,2.3010345 L22,2.3010345 Z" id="Shape"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.facebook.com/" rel="noopener noreferrer" target="blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="13px" height="20px" viewBox="0 0 13 20" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                                <title>facebook-ico</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Footer-1" transform="translate(-1409.000000, -378.000000)" fill="#39579A">
                                                        <g id="Footer">
                                                            <g id="Group-14" transform="translate(1409.000000, 377.000000)">
                                                                <g id="facebook-ico" transform="translate(0.000000, 1.000000)">
                                                                    <path d="M3.74356357,20 L3.71428571,10.9090909 L0,10.9090909 L0,7.27272727 L3.71428571,7.27272727 L3.71428571,5 C3.71428571,1.62600455 5.84844,0 8.92277286,0 C10.3954082,0 11.661065,0.107340909 12.0299121,0.155318182 L12.0299121,3.68134545 L9.89769857,3.68229545 C8.22570357,3.68229545 7.90196643,4.46013636 7.90196643,5.60155909 L7.90196643,7.27272727 L12.7678571,7.27272727 L10.9107143,10.9090909 L7.90196643,10.9090909 L7.90196643,20 L3.74356357,20 L3.74356357,20 Z" id="White_1_"></path>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                    </a>
                                </li>
                                <li>
                                    <a href="https://www.linkedin.com/" rel="noopener noreferrer" target="blank">
                                        <?xml version="1.0" encoding="UTF-8"?>
                                        <svg width="22px" height="22px" viewBox="0 0 22 22" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                                                <!-- Generator: Sketch 40.3 (33839) - http://www.bohemiancoding.com/sketch -->
                                                <title>linkedin-ico</title>
                                                <desc>Created with Sketch.</desc>
                                                <defs></defs>
                                                <g id="Symbols" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                                                    <g id="Footer-1" transform="translate(-1489.000000, -377.000000)">
                                                        <g id="Footer">
                                                            <g id="Group-14" transform="translate(1409.000000, 377.000000)">
                                                                <g id="linkedin-ico" transform="translate(80.000000, 0.000000)">
                                                                    <g id="Group">
                                                                        <path d="M20.3722429,0 L1.62297208,0 C0.727792083,0 0.000307083333,0.710178333 0.000307083333,1.58625958 L0.000307083333,20.4125167 C0.000307083333,21.2886071 0.727792083,22 1.62297208,22 L20.3722475,22 C21.2692379,22 21.9996975,21.2886071 21.9996975,20.4125167 L21.9996975,1.58625958 C21.9996929,0.710178333 21.2692333,0 20.3722429,0 L20.3722429,0 Z" id="Shape" fill="#007BB5"></path>
                                                                        <path d="M3.25996,8.24761667 L6.52617625,8.24761667 L6.52617625,18.7463237 L3.25996,18.7463237 L3.25996,8.24761667 L3.25996,8.24761667 Z M4.89396875,3.02869875 C5.93775417,3.02869875 6.78516667,3.87643667 6.78516667,4.9208225 C6.78516667,5.96549708 5.93774958,6.81322125 4.89396875,6.81322125 C3.8460125,6.81322125 3.00096042,5.96550167 3.00096042,4.9208225 C3.00096042,3.87643667 3.84600792,3.02869875 4.89396875,3.02869875 L4.89396875,3.02869875 Z" id="Shape" fill="#FFFFFF"></path>
                                                                        <path d="M8.57315708,8.24761667 L11.7009475,8.24761667 L11.7009475,9.68287375 L11.7456808,9.68287375 C12.1807308,8.85750708 13.2454071,7.9871 14.8328904,7.9871 C18.1366808,7.9871 18.7472404,10.1609429 18.7472404,12.9884929 L18.7472404,18.7463192 L15.4845808,18.7463192 L15.4845808,13.6407929 C15.4845808,12.4233358 15.4636808,10.8570596 13.7891142,10.8570596 C12.0912642,10.8570596 11.8322142,12.1840263 11.8322142,13.55365 L11.8322142,18.7463238 L8.57315708,18.7463238 L8.57315708,8.24761667 L8.57315708,8.24761667 Z" id="Shape" fill="#FFFFFF"></path>
                                                                    </g>
                                                                </g>
                                                            </g>
                                                        </g>
                                                    </g>
                                                </g>
                                            </svg>
                                    </a>
                                </li>
                            </ul>
                            <ul class="no-bullet">
                                <li><a href="/help/" target="blank">Help &amp; Support</a></li>
                                <li><a href="/bitcoin-exchange-rates/">Exchange Rates</a></li>
                            </ul>
                        </div>
                        <!-- <div class="column medium-8">
                            <ul class="small-block-grid-1 medium-block-grid-2 large-block-grid-2 xlarge-block-grid-4">
                                <li>
                                    <h6 class="footer__heading">Businesses</h6>
                                    <ul class="no-bullet">
                                        <li><a href="/tour">Accept Bitcoin</a></li>
                                        <li><a href="/integrations">Integrations</a></li>
                                        <li><a href="/docs">Documentation</a></li>
                                        <li><a href="/pricing">Pricing</a></li>
                                        <li><a href="/bitcoin-payouts">Payouts</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h6 class="footer__heading">Individuals</h6>
                                    <ul class="no-bullet">
                                        <li><a href="/pay-with-bitcoin">Pay with Bitcoin</a></li>
                                        <li><a href="/card">BitPay Card</a></li>
                                        <li><a href="https://support.bitpay.com/hc/en-us/categories/115000745966-BitPay-Card">BitPay Card FAQs</a></li>
                                        <li><a href="/wallet">BitPay Wallet</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h6 class="footer__heading">Developers</h6>
                                    <ul class="no-bullet">
                                        <li><a href="/docs/create-invoice">Developer Docs</a></li>
                                        <li><a href="https://bitcore.io/">Bitcore</a></li>
                                        <li><a href="https://insight.is/">Insight</a></li>
                                        <li><a href="https://github.com/bitpay">Open Source</a></li>
                                    </ul>
                                </li>
                                <li>
                                    <h6 class="footer__heading">Company</h6>
                                    <ul class="no-bullet">
                                        <li><a href="/about">About</a></li>
                                        <li><a href="/about/team">Team</a></li>
                                        <li><a href="/about/press">Press</a></li>
                                        <li><a href="https://blog.bitpay.com">Blog</a></li>
                                        <li><a href="/about/terms">Terms of Use</a></li>
                                        <li><a href="/about/privacy">Privacy Policy</a></li>
                                    </ul>
                                </li>
                            </ul>
                        </div>-->
                    </div>
                </div>
            </div>
            <a class="exit-off-canvas"></a>
        </div>
    </div>
</body>
<script src="js/main.min.ca768dba.js" data-no-instant="data-no-instant"></script>

</html>